<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestingSuite">
  <listeners>
    <listener class-name="listeners.TestResultsListener" />
    <listener class-name="listeners.TestReporter" />
  </listeners>
  <test name="Basket">
    <classes>
      <class name="AmazonBasketTest" />
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->