<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

  <Properties>
    <Property name="basePath">./target/logs</Property>
  </Properties>

  <Appenders>

    <RollingFile name="File" fileName="${basePath}/Testlog.log" filePattern="${basePath}/Testlog-%d{yyyy-MM-dd}.log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <SizeBasedTriggeringPolicy size="500KB" />
    </RollingFile>

    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

  </Appenders>

  <Loggers>
    <Root level="trace">
      <AppenderRef ref="File" level="INFO"/>
      <AppenderRef ref="Console" level="INFO"/>
    </Root>
  </Loggers>

</Configuration>